* {
  margin: 0px;
  border: 0px;
  padding: 0px; }

.colorClase--leyes {
  color: red; }

.colorClase--progra {
  color: white; }

.colorClase--musica {
  color: black; }

.colorClase--diseno {
  color: blue; }

.colorClase--cine {
  color: purple; }

.colorClase--ventas {
  color: brown; }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: aliceblue;
  text-align: center; }

p {
  color: white; }

body {
  background-image: linear-gradient(blue, yellow);
  margin: 0px; }

.textoAlado, .textAlign {
  color: white;
  text-align: center;
  text-shadow: #111111; }

.imagenHeader {
  width: 250px;
  height: 100px; }

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.nav_menu_ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.imagenYTexto {
  padding-top: 3%;
  margin-bottom: 13rem;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.imagenMentores {
  padding: 10px;
  height: 450px !important;
  width: 600px; }

.carousel-inner img {
  margin: auto; }

#carouselExampleControls {
  margin-left: 17%; }

.imagenYTexto p {
  margin: 0px; }

li {
  display: flex;
  flex-direction: row;
  justify-items: right; }
  li a {
    padding: 16px;
    text-decoration: none;
    color: white; }
    li a:hover {
      background-color: #111111;
      background-size: 1%; }

.nosotros_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding-top: 2%; }
  .nosotros_Box p {
    text-align: center;
    margin-right: 100px; }

.videoDemo, .videoDemo2 {
  padding: 2%; }

.videoDemo2 {
  display: none; }

iframe {
  animation-duration: .5s; }

article {
  text-align: center; }

ol {
  color: white;
  display: block;
  padding: 5%; }
  ol li {
    display: inline-block; }

#inscripcion a {
  color: white;
  text-decoration: none; }

.miniImgClase {
  width: 250px;
  height: 150px; }

.texto_clases_1, .texto_clases_2 {
  padding: 1%; }

ol {
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px; }

.staff_box {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-bottom: 10rem; }

.parrafoSub {
  display: block;
  text-align: center; }

.parrafoSub p {
  padding: 1%; }

.imagenesDocentes {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px; }

.imagenMentor1,
.imagenMentor2,
.imagenMentor3,
.imagenMentor4 {
  width: 400px;
  height: 300px;
  padding: 5px; }

.imagenMentor1 {
  animation-delay: .3s; }

.imagenMentor2 {
  animation-delay: .7s; }

.imagenMentor3 {
  animation-delay: 1s; }

.imagenMentor4 {
  animation-delay: 1.2s; }

.captionDocentes {
  display: inline-block;
  text-align: center; }

.textAlign {
  font-size: xx-large;
  font-weight: bold; }

form label {
  color: white; }

.div_Contacto_form {
  display: block;
  margin: 0px 30% 0 25%;
  padding: 2%; }

.container_form {
  display: block;
  padding: 5%;
  margin: auto;
  text-align: center; }

.container_form label,
input,
select,
textarea {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.input_Form {
  margin-top: 5px;
  padding: 5px; }

::placeholder {
  color: #111111; }

footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 5px; }

footer p {
  text-align: center;
  color: white !important;
  font-weight: bold; }

.clasesSection {
  margin-bottom: 4rem;
  padding-top: 3%; }

.comboDeClases {
  padding-top: 2%; }

.sectionContacto {
  margin-bottom: 7rem; }

.socialMediaIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  margin-left: 3%; }

.social1, .social2, .social3 {
  color: white;
  margin-right: 15px; }

.parrafoSub2 {
  margin-top: 10px; }

.explicacionDocentes {
  padding-top: 15px; }

.gif1 {
  width: 250px;
  height: 250px; }

.contenedorCotizar {
  margin: 2%;
  padding: 10px;
  margin-bottom: -20px; }

.contenedorCotizar2 {
  margin-bottom: 100px; }

.botonesGroupCotizar {
  margin-top: 100px;
  padding: 5px; }

.subCotizar {
  margin-top: 20px; }

ul li {
  color: white;
  font-weight: bold;
  font-size: large; }

.infoMentor {
  text-align: left;
  text-justify: auto;
  padding: 2%; }

#fondoAzul {
  background-color: #790606; }

#fondoVerde {
  background-color: green; }

#fondoAmarillo {
  background-color: black; }

#fondoRandom {
  background-color: transparent; }

#textAreaHistorial, #textAreaInfo {
  width: fit-content;
  height: 250px;
  width: 700px; }

.container_form_cotizar {
  display: block;
  padding: 1%;
  margin: auto;
  text-align: left; }

#mentoresListForm {
  width: 700px; }

.tituloFormCotizar {
  font-size: xx-large;
  text-decoration-line: underline;
  text-decoration-color: #0a8dda; }

/*TABLET - Media Queries*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  .videoDemo, .videoDemo2 {
    align-items: center;
    align-content: center;
    display: unset; }
  .miniImgClase {
    height: 100px;
    width: 200px; }
  .imagenMentores {
    height: 250px; }
  .imagenYTexto {
    flex-wrap: nowrap; }
  .imagenMentor1,
  .imagenMentor2,
  .imagenMentor3,
  .imagenMentor4 {
    width: 180px;
    height: 220px;
    padding: 5px; }
  .sectionContacto {
    margin-bottom: 7rem; }
  .nosotros_Box p {
    text-align: center;
    margin-left: 120px; }
  .parrafoSub {
    margin-top: 15px; }
  .staff_box {
    margin-bottom: 10rem; }
  .textAlign {
    margin-top: 15px; }
  .clasesSection {
    margin-bottom: 10rem; }
  .socialMediaIcons {
    z-index: 2; }
  #textAreaHistorial, #textAreaInfo {
    width: fit-content;
    height: 200px;
    width: 400px; }
  #mentoresListForm {
    width: 400px; }
  #limpiarStorageLocal, #limpiarStorage {
    margin-top: 10px;
    padding: 10px; } }

/*MOVIL Queries*/
@media screen and (max-width: 480px) {
  .imagenHeader {
    display: none; }
  .nav_menu {
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  .nav_menu_ul {
    flex-direction: column;
    justify-content: center; }
  .imagenMentores {
    height: 100px;
    margin: 0px; }
  #carouselExampleControls {
    margin-left: 0; }
  .imagenYTexto {
    flex-wrap: nowrap;
    margin-bottom: 9rem; }
  .videoDemo, .videoDemo2 {
    display: unset; }
  .videoDemo iframe {
    width: 250px;
    height: 200px; }
  .videoDemo2 iframe {
    width: 250px;
    height: 200px; }
  .comboDeClases {
    display: none; }
  ol {
    padding: 0%;
    margin-top: 0px;
    margin-bottom: 0px; }
  .imagenesDocentes {
    flex-direction: column; }
  .div_Contacto_form {
    margin: 0px; }
  .sectionContacto {
    margin-bottom: 14rem; }
  .nosotros_Box {
    margin-bottom: 13rem;
    padding-top: 10%; }
  #inscripcion {
    padding-top: 5%; }
  footer p {
    color: white;
    font-weight: bold; }
  .clasesSection {
    margin-bottom: 8rem; }
  .imagenMentor1,
  .imagenMentor2,
  .imagenMentor3,
  .imagenMentor4 {
    width: 300px;
    height: 300px; }
  .staff_box {
    margin-bottom: 7rem; }
  .subCotizar {
    font-weight: lighter; }
  #textAreaHistorial, #textAreaInfo {
    width: fit-content;
    height: 200px;
    width: 300px; }
  #mentoresListForm {
    width: 300px; }
  .botonMobile {
    display: block;
    width: 100%;
    margin: 5px;
    border-radius: 10px; }
  ul li {
    font-size: medium; }
  .titulosMentores {
    text-decoration-line: underline !important;
    text-decoration-color: white;
    text-align: left; } }
