* {
  margin: 0px;
  border: 0px;
  padding: 0px; }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Courier New', Courier, monospace;*/
  color: aliceblue;
  text-align: center; }

p {
  color: white; }

body {
  background-image: linear-gradient(blue, yellow);
  margin: 0px; }

#textoAlado {
  color: white; }

header {
  padding: 5px; }

.imagenHeader {
  width: 250px;
  height: 100px; }

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.nav_menu_ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.imagenYTexto {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column; }

.imagenMentores {
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px; }

.imagenYTexto p {
  margin: 0px; }

#textoAlado {
  display: block; }

li {
  display: flex;
  flex-direction: row;
  justify-items: right; }
  li a {
    padding: 16px;
    text-decoration: none;
    color: white; }
    li a:hover {
      background-color: #111111;
      background-size: 1%; }

.nosotros_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .nosotros_Box p {
    text-align: center;
    margin-right: 100px; }

.videoDemo {
  padding: 2%; }

iframe {
  animation-duration: 2s; }

article {
  text-align: center; }

ol {
  color: white;
  display: block;
  padding: 5%; }
  ol li {
    display: inline-block; }

#inscripcion a {
  color: white;
  text-decoration: none; }

.miniImgClase {
  width: 250px;
  height: 150px; }

.texto_clases_1, .texto_clases_2 {
  padding: 1%; }

ol {
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 5px; }

.staff_box {
  grid-area: main;
  display: flex;
  flex-direction: column;
  padding: 1%; }

.parrafoSub {
  display: block;
  text-align: center; }

.parrafoSub p {
  padding: 1%; }

.imagenesDocentes {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px; }

.imagenMentor1,
.imagenMentor2,
.imagenMentor3,
.imagenMentor4 {
  width: 400px;
  height: 300px;
  padding: 5px; }

.imagenMentor1 {
  animation-delay: 1s; }

.imagenMentor2 {
  animation-delay: 2s; }

.imagenMentor3 {
  animation-delay: 3s; }

.imagenMentor4 {
  animation-delay: 4s; }

.captionDocentes {
  display: inline-block;
  text-align: center; }

.textAlign {
  text-align: center; }

form label {
  color: white; }

.div_Contacto_form {
  display: block;
  margin: 0px 30% 0 25%;
  padding: 2%; }

.container_form {
  display: block;
  padding: 5%;
  margin: auto;
  text-align: center; }

.container_form label,
input,
select,
textarea {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.input_Form {
  margin-top: 5px;
  padding: 5px; }

::placeholder {
  color: #111111; }

footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: black; }

footer p {
  text-align: center;
  color: white;
  font-weight: bold;
  text-emphasis-color: black; }

/*TABLET - Aplicado a INDEX y Contacto*/
@media screen and (max-width: 768px) and (min-width: 481px) {
  .videoDemo {
    align-items: center;
    align-content: center; }
  .miniImgClase {
    width: 200px;
    height: 100px; } }

.imagenMentores {
  width: 400px;
  height: 250px; }

.imagenYTexto {
  flex-wrap: nowrap; }

.imagenMentor1,
.imagenMentor2,
.imagenMentor3,
.imagenMentor4 {
  width: 180px;
  height: 220px;
  padding: 5px; }

.nosotros_Box p {
  text-align: center;
  margin-left: 120px; }

footer {
  flex-wrap: nowrap; }
  footer p {
    color: black;
    font-weight: bold; }

/*MOVIL Aplicado a INDEX, Contacto*/
@media screen and (max-width: 480px) {
  .imagenHeader {
    display: none; }
  .nav_menu {
    flex-direction: column;
    align-content: center;
    justify-content: center; }
  .nav_menu_ul {
    flex-direction: column;
    justify-content: center; }
  .imagenMentores {
    width: 320px;
    height: 180px;
    margin: 0px; }
  .imagenYTexto {
    flex-wrap: nowrap; }
  .videoDemo iframe {
    width: 250px;
    height: 200px; }
  .miniImgClase {
    display: none; }
  ol {
    padding: 0%;
    margin-top: 0px;
    margin-bottom: 0px; }
  .imagenesDocentes {
    flex-direction: column; }
  .div_Contacto_form {
    margin: 0px; }
  footer p {
    color: white;
    font-weight: bold; } }
