@import "variables";

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

//Usando Mapas para otorgar colores a los nombres de las diversas clases que existen en la pagina de Clases
$colorTitles: (
    leyes: red,
    progra: white,
    musica: black,
    diseno: blue,
    cine: purple,
    ventas: brown
);

@each $x,$color in $colorTitles {
    .colorClase--#{$x}
    {
        color:$color;
    }
}

//Usando Mixins para modificar heigh y width de la imagen principal de index y de las imagenes de la página de "Clases".
@mixin tamanos($width,$height){
    height: $height;
    width: $width;
}


html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: 'Courier New', Courier, monospace;*/
    color: aliceblue; 
    text-align: center;
}

p {
    color: white;
}

body {
    background-image: linear-gradient(blue, yellow);
    margin: 0px;
}

.textoAlado {
    color: white;
    text-align: center;
    text-shadow: #111111;
}

header {
    padding: 5px;
}

.imagenHeader {
    width: 250px;
    height: 100px;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

//Utilizando Map Get para dar estilo a .nav_menu_ul
$mapGetEjemplo: (
    flexDisplay: flex,
    flexDirection: row,
    flexContent: flex-end,
    flexAlign: center
);

.nav_menu_ul{
    display: map-get($mapGetEjemplo, flexDisplay);
    flex-direction: map-get($mapGetEjemplo, flexDirection);
    justify-content: map-get($mapGetEjemplo, flexContent);
    align-items: map-get($mapGetEjemplo, flexAlign);
}

.imagenYTexto {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.imagenMentores {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    @include tamanos(600px, 450px !important);
    //height: 450px !important;
}

.imagenYTexto{
    p{
        // text-align: center;
        margin:0px;
    }
    
}

.textoAlado {
    display: block;
}

li {
    display: flex;
    flex-direction: row;
    justify-items: right;
    a{
        padding: 16px;
    text-decoration: none;
    color: white;
        &:hover{
            background-color: #111111;
            background-size: 1%;
        }
    }
}


.nosotros_Box {
    // margin-top: 50px;
    // margin-bottom: 15px;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p{
        text-align: center;
        margin-right: 100px;    
    }
}

.videoDemo {
    padding: 2%;
}

iframe{
    animation-duration: 2s;
}

article {
    text-align: center;
}

@import "clases";

.staff_box {
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.parrafoSub {
    display: block;
    text-align: center;
}

.parrafoSub p {
    padding: 1%;
}

.imagenesDocentes {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}



.imagenMentor1,
.imagenMentor2,
.imagenMentor3,
.imagenMentor4 {
    width: 400px;
    height: 300px;
    padding: 5px;
}

.imagenMentor1{
    animation-delay: 1s;
}
.imagenMentor2{
    animation-delay: 2s;
}
.imagenMentor3{
    animation-delay: 3s;
}
.imagenMentor4{
    animation-delay: 4s;
}

.captionDocentes {
    display: inline-block;
    text-align: center;
}

//Se utiliza Extends para heredar estilos de .textoAlado (index), para aplicar al parrafo con clase .textAling que requiere un formato similar a la primera clase pero se le cambia el tamaño a .textAlign.
.textAlign {
   @extend .textoAlado;
   font-size:x-large;
}

form label {
    color: white;
}

.div_Contacto_form {
    display: block;
    margin: 0px 30% 0 25%;
    padding: 2%;
}

.container_form {
    display: block;
    padding: 5%;
    margin: auto;
    text-align: center;
}

.container_form label,
input,
select,
textarea {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.input_Form{
    margin-top: 5px;
    padding: 5px;
}
::placeholder{
    color:#111111;
}

footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: $colorFooter;
}

footer p {
    text-align: center;
    color: white;
    font-weight: bold;
    text-emphasis-color: black;
}


/*TABLET - Aplicado a INDEX y Contacto*/
@media screen and (max-width:768px) and (min-width:481px) {

    .videoDemo{
        // margin-left: 60px; 
        align-items: center;
        align-content: center;
    }

    .miniImgClase{
        // width: 200px;
        // height: 100px;
        @include tamanos(200px,100px);
    }
}


    .imagenMentores {
        width: 400px;
        height: 250px;
    }


    .imagenYTexto {
        flex-wrap: nowrap;
    }

    .imagenMentor1,
    .imagenMentor2,
    .imagenMentor3,
    .imagenMentor4 {
    width: 180px;
    height: 220px;
    padding: 5px;
}

    .nosotros_Box p  {
        text-align: center;
        margin-left: 120px;
    }

    footer {
        flex-wrap: nowrap;
        p{
            color: black;
            font-weight: bold;
        }
    }


/*MOVIL Aplicado a INDEX, Contacto*/
@media screen and (max-width:480px) {

    .imagenHeader {
        display: none;
    }

    .nav_menu {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .nav_menu_ul {
        flex-direction: column;
        justify-content: center;
    }

    .imagenMentores {
        width: 320px;
        height: 180px;
        margin: 0px;
    }

    .imagenYTexto {
        flex-wrap: nowrap;
    }

    .videoDemo iframe {
        width: 250px;
        height: 200px;
    }

    .miniImgClase{
        display:none;
    }

    ol{
        padding: 0%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .imagenesDocentes{
        flex-direction: column;
    }

    .div_Contacto_form{
        margin: 0px;
    }


    footer {
        p{
            color: white;
            font-weight: bold;            
        }
    }

}